span.xoo-wsc-sc-count {
    background-color: #ffe81f;
    color: black;
    font-weight: 700;
}
.xoo-wsc-cart-trigger {
    span.xoo-wsc-sc-subt{
        color: white !important;
    }
}
.xoo-wsc-sc-bki {
    color: #ffe81f !important;
}
