// Minimalni tipografski overrides
// ---------------------------------------

// Osnovni stilovi za body
body {
  color: $white;
  background-color: $primary-color;
}

// Override boja za naslove je već definisan kroz headings-color varijablu
// Ostali stilovi specifični za naš dizajn:

// Override stilova za linkove
a {
  color: $secondary-color2;
}