nav.woocommerce-breadcrumb {
    margin: 2rem 0px !important;
    background-color: transparent;
    color: $secondary-color2 !important;
    // font-weight: $regular;
    a {
        color: $secondary-color2 !important;
        // font-weight: $regular;

        transition: 0.2s;
        &:first-child {
            margin-left: 0px !important;
        }
        &:hover {
            font-weight: 500 !important;
            transition: 0.2s;
        }
    }
}
main#main {
    margin-top: 50px;
}
.woof_auto_show {
    display: block;
    position: relative;
}
.archive {
    .container {
        ul.products.columns-5 {
            &::after {
                display: none !important;
            }
            &::before {
                display: none !important;
            }

            padding-top: 60px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            list-style-type: none;
            padding: 0;
            margin: 0;
            gap: 1rem;
            margin-bottom: 3rem;
            li.product_cat-decije-majice {
                padding-top: 0px;
                a {
                    img {
                        border-radius: 20px 20px 0px 0px;
                    }
                }
            }
            li {
                text-decoration: none;
                background: white;
                display: flex;
                width: 100%;
                flex-direction: column;
                align-content: center;
                align-items: center;
                margin: 0px;
                border-radius: 20px;
                padding-top: 1rem;
                padding-bottom: 1rem;
                transition: ease-in-out 0.3s;
                a {
                    img {
                        height: auto !important;
                        width: 100% !important;
                        border-radius: 20px;
                    }
                    h2 {
                        margin-top: 10px;
                        display: block;
                        padding-bottom: 15px;
                        padding-left: 0.4rem;
                        padding-right: 0.4rem;
                        width: 100%;
                        text-align: center;
                        font-weight: 700;
                        font-size: 1rem;
                        color: black;
                    }
                    span.price {
                        color: black;
                        text-align: center;
                        span.woocommerce-Price-amount.amount {
                            color: black;
                            bdi {
                                color: black;
                                font-weight: 700;
                                font-size: 1rem;
                            }
                        }
                    }
                }
                a.added_to_cart.wc-forward {
                    color: black;
                    margin-top: 0.6rem;
                    transition: ease-in-out 0.1s;
                    &:hover {
                        font-weight: 600;
                        transition: ease-in-out 0.1s;
                    }
                }
                &:hover {
                    transition: ease-in-out 0.3s;
                    //border-top-right-radius: 0%;
                    box-shadow: 0 2px 38px rgba(255, 255, 255, 0.418);
                }
            }
            .add_to_cart_button {
                background-color: $secondary-color2;
                color: $black;
                text-shadow: 2px 2px white;
                text-transform: uppercase;
                transition: ease-in-out 0.3s;
                &:hover {
                    background: $black;
                    color: $secondary-color2;
                    text-shadow: none;
                    transition: ease-in-out 0.3s;
                    box-shadow: 0 2px 38px black;
                }
            }
        }
    }
}
section.related.products {
    h2 {
        margin-top: 40px;
        font-size: 3rem;
        font-weight: 800;
        color: $secondary-color2;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background: silver;
            height: 4px;
            width: 10px;
            border-radius: 4px;
            animation: blade2 2s ease infinite;
            left: 50px;
            z-index: 2;
            bottom: -7px;
        }
        &::before {
            content: "";
            position: absolute;
            background: white;
            height: 4px;
            width: 47px;
            border-radius: 4px;
            animation: blade1 2s ease infinite;
            /* top: 4px; */
            bottom: -7px;
            left: 0px;
            z-index: 2;
        }
    }
    h2.woocommerce-loop-product__title {
        &::after {
            display: none;
        }
        &::before {
            display: none;
        }
    }
    ul.products.columns-5 {
        &::after {
            display: none !important;
        }
        &::before {
            display: none !important;
        }

        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        list-style-type: none;
        padding: 0;
        margin: 3rem 0px;
        gap: 1rem;
        li {
            text-decoration: none;
            background: white;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-content: center;
            align-items: center;
            margin: 0px;
            border-radius: 20px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            transition: ease-in-out 0.3s;
            a {
                img {
                    height: auto;
                    width: 100%;
                    border-radius: 20px;
                }
                h2 {
                    margin-top: 10px;
                    display: block;
                    padding-bottom: 15px;
                    width: 100%;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1rem;
                    color: black;
                }
                span.price {
                    color: black;
                    text-align: center;
                    span.woocommerce-Price-amount.amount {
                        color: black;
                        bdi {
                            color: black;
                            font-weight: 700;
                            font-size: 1rem;
                        }
                    }
                }
            }
            a.added_to_cart.wc-forward {
                color: black;
                margin-top: 0.6rem;
                transition: ease-in-out 0.1s;
                &:hover {
                    background: $black;
                    color: $secondary-color2;
                    text-shadow: none;
                    transition: ease-in-out 0.3s;
                    box-shadow: 0 2px 38px black;
                }
            }
            &:hover {
                transition: ease-in-out 0.3s;
                //border-top-right-radius: 0%;
                box-shadow: 0 2px 38px rgba(255, 255, 255, 0.418);
            }
            transition: ease-in-out 0.3s;
            a.added_to_cart.wc-forward {
                transition: ease-in-out 0.3s;
                &:hover {
                    background-color: transparent !important;
                    box-shadow: none;
                    color: black;
                    transition: ease-in-out 0.3s;
                    font-weight: 700;
                }
            }
        }
        .add_to_cart_button {
            background-color: $secondary-color2;
            color: $black;
            text-shadow: 2px 2px white;
            text-transform: uppercase;
            transition: ease-in-out 0.3s;
            &:hover {
                background: $black;
                color: $secondary-color2;
                text-shadow: none;
                transition: ease-in-out 0.3s;
                box-shadow: 0 2px 38px black;
            }
        }
    }
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0px;
    height: auto;
}
form.woocommerce-ordering {
    select.orderby {
        display: block;
    }
}

/* Container for WooCommerce product gallery images */
.product-gallery-container {
    max-width: 100%;
    margin: 0 auto;
    ol.flex-control-nav.flex-control-thumbs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li > img.flex-active {
            border: 2px solid $secondary-color2;
        }
    }
}

/* Set max-width for product gallery images */
.woocommerce-product-gallery__image img {
    max-width: 100%;
    height: auto;
}
/* For mobile screens */
@media (max-width: 767px) {
    .post-type-archive-product .container ul.products.columns-5 li.product {
        width: 100%;
        float: none;
        clear: both;
    }
}
.single-product .woocommerce-product-gallery__image img {
    height: 650px !important;
    object-fit: contain;
    background-color: white;
    border-radius: 20px;
    &:hover {
        border-radius: 20px;
    }
}
.summary.entry-summary {
    .woocommerce-product-details__short-description {
        display: none;
    }
    h1.product_title.entry-title {
        margin-bottom: 2rem;
    }
    p.price {
        margin-bottom: 0rem;
        color: #ffe81f;
        font-size: 2rem;
        font-weight: 700;
    }
    .product_meta {
        margin-bottom: 2rem;
        display: flex;
        gap: 0.8rem;
        flex-direction: column;
        align-items: flex-start;
        span.sku_wrapper {
            color: white;
            font-weight: 600;
            span.sku {
                color: $secondary-color2;
                transition: ease-in 0.3s;
                font-weight: 400;
                &:hover {
                    color: white;
                    transition: ease-in 0.3s;
                }
            }
        }
        span.tagged_as {
            color: white;
            font-weight: 600;
            a {
                color: $secondary-color2;
                transition: ease-in 0.3s;
                font-weight: 400;
                &:hover {
                    color: white;
                    transition: ease-in 0.3s;
                }
            }
        }
        span.posted_in {
            color: white;
            font-weight: 600;
            a {
                font-weight: 400;
                color: $secondary-color2;
                transition: ease-in 0.3s;
                &:hover {
                    color: white;
                    transition: ease-in 0.3s;
                }
            }
        }
    }
    div > table.variations {
        margin-bottom: 1rem;
        label {
            color: white;
            font-size: 1.4rem;
            margin: 1rem 0px;
        }
        span.woo-selected-variation-item-name {
            color: $secondary-color2;
            font-weight: 700;
        }
        ul.variable-items-wrapper.button-variable-items-wrapper.wvs-style-squared > li {
            background: transparent;
            color: $secondary-color2;
            font-weight: 600;
            &:first-child {
                margin-left: 0px;
            }
        }
    }
    div > .single_variation_wrap {
        .woocommerce-variation.single_variation {
            margin-bottom: 0rem;
            .woocommerce-variation.single_variation {
                display: none;
            }
        }

        .woocommerce-variation-add-to-cart {
            button.single_add_to_cart_button.button.alt.wp-element-button.disabled.wc-variation-selection-needed {
                background-color: $secondary-color2;
                color: black;
                border-radius: 0px;
            }
            button.single_add_to_cart_button.button.alt.wp-element-button {
                border-radius: 0px;
            }
        }
    }
    .woocommerce-tabs.wc-tabs-wrapper {
        ul.tabs.wc-tabs {
            border-bottom: 2px solid $secondary-color2;
            &::before {
                display: none;
            }
            li {
                border: none;
                margin: 0px;
                border-radius: 0px;
                background-color: transparent;
                transition: 0.8s;
                &::after {
                    display: none;
                }
                &::before {
                    display: none;
                }
                a {
                    color: white;
                    transition: 0.8s;
                }
            }
            li.active {
                background-color: $secondary-color2;
                a {
                    color: black !important;
                }
            }
        }
        div#tab-additional_information {
            color: white;
            a {
                color: $secondary-color2;
            }
        }
    }
    form.cart {
        button.single_add_to_cart_button.button.alt.wp-element-button.disabled.wc-variation-selection-needed {
            background-color: $secondary-color2;
            color: black;
            border-radius: 0px;
        }
        button.single_add_to_cart_button.button.alt.wp-element-button {
            border-radius: 0px;
        }
    }
}

a.reset_variations {
    position: relative;
    &::before {
        display: inline-block;
        content: "\00d7";
        font-size: 60px;
        color: white;
        margin-top: 20px;
    }
}
.woocommerce-variation-availability {
    display: none;
}
div#tab-description {
    h1 {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        line-height: normal;
        font-weight: 600;
        color: #ffe81f;
        font-weight: 700;
    }
    h2 {
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
        font-weight: 600;
    }
    h3 {
        font-size: 1.3rem;
        margin-bottom: 1.4rem;
        font-weight: 600;
    }
    h4 {
        font-size: 1.2rem;
        margin-bottom: 1.4rem;
        font-weight: 600;
    }
    p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    ul {
        list-style: auto;
        padding-left: 2.6rem;
        margin-bottom: 1.4rem;
        li {
            color: white;
            font-size: 1.1rem;
            margin-bottom: 0.4rem;
            line-height: normal;
        }
    }
    ol {
        list-style: disc;
        padding-left: 2.6rem;
        margin-bottom: 1.4rem;
        li {
            color: white;
            font-size: 1.1rem;
            margin-bottom: 0.4rem;
            line-height: normal;
        }
    }
    a {
        color: #ffe81f;
        &:hover {
            color: white;
        }
    }
}
#tab-description > h2:first-of-type {
    display: none;
}
header.woocommerce-products-header {
    h1 {
        margin-bottom: 1rem;
    }
    .term-description {
        color: white;
        font-size: 1.2rem;
        margin-top: 2rem;
        line-height: normal;
        p {
            color: white;
            font-size: 1.2rem;
            line-height: normal;
        }
    }
}
.summary.entry-summary .woocommerce-tabs.wc-tabs-wrapper div#tab-additional_information {
    h2 {
        letter-spacing: -0.75px;
        opacity: 1;
        position: relative;
        text-align: left;
        color: #ffe81f;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 2rem;
        &:after,
        &:before {
            border-radius: 4px;
            bottom: -7px;
            content: "";
            height: 4px;
            position: absolute;
        }
        &:before {
            animation: blade1 2s ease infinite;
            background: #fff;
            left: 0;
            width: 47px;
        }
        &::after {
            border-radius: 4px;
            bottom: -7px;
            content: "";
            height: 4px;
            position: absolute;
        }
    }
}
.woocommerce form .form-row .optional {
    visibility: hidden;
}
